body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #fff;
	color: #345d98;
	margin: 0px;
}

header {
	margin: 0px;
	padding: 5px;
	display: block;
	background-color: #fff;
	text-align: right;
	color: #000;
}

i {
	font-size: 500px;
	color: red;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  color: #fff;
  /*background-color: #eee;*/
  text-shadow: 2px 2px #509ec4;
  text-align: center;
 /* z-index: 0;*/
}

img {
	max-height: 300px;
}

h1 {
	text-align: center;
	color: #eed147;
}

a {
	text-align: right;
	color: #d0302b;
	text-shadow: -1px 1px #99b1c9;
	text-decoration: none;
}

ul {
	text-align: center;
}

#data {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}

form {
	background-color: #000;
	color: #bff8b9;
	padding: 10px;
	text-align: left;
	padding-left: 15%;
}

input[type=button] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	transition: 0.2s all ease-in-out;
	box-shadow: -3px 3px #eed147;
}

input[type=submit] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	transition: 0.2s all ease-in-out;
	box-shadow: -3px 3px #eed147;
}

input[type=text] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	background-color: #fff;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.container {
	margin: 0px;
    width: 100%;
}

.item_left {
    width: 50%;
    float: left;
    max-width: 500px;


}

.item_right {
    width: 50%;
    float: left;
    max-width: 500px;


}

#like {
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer; 
	font-size: 60px;
	color: #eed147;

	background-color: #000;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#dislike {
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer;
	background-color: none;
	font-size: 60px;
	color: #509ec4;

	background-color: #000;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#false {
	vertical-align: middle; 
	cursor: pointer; 
	font-size: 30px;
	color: #000;

	background-color: #fff;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#false:hover {
 
	color: #fff;
	background-color: #000;

}

#true {
	vertical-align: middle; 
	cursor: pointer;
	background-color: none;
	font-size: 30px;
	color: #000;

	background-color: #fff;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#true:hover {
 
	color: #fff;
	background-color: #000;

}

#form2 {
	justify-content: center;
}

#back {
	background-color: #509ec4;
	color: #eee;
}

#likedBeersArr {
	margin: 0px;
	padding: 5px;
	background-color: #509ec4;
}

#messy{
	height: 400px;
  	position: relative;
 	/*border: 3px solid green;*/
}

#FF1{
	height: 400px;
  	position: relative;
 	/*border: 3px solid green;*/
}



#messy-v {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#FF2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login {
	width: 280px;
}

#final_form {
	width: 280px;
}

#currQuestion {
	margin: 5px;
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#score {
	margin: 5px;
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

li {
	padding: 9px;
	margin: 20px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;

	width: 80%;
}

/*
	cyan:   #509ec4
	yellow: #eed147
	black:  #000
	white:  #fff
*/


