body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #fff;
	color: #345d98;
	margin: 0px;
}

#header {
	font-family: 'Fredericka the Great', cursive;
	font-size: 28px;
	background-image: url(cheers.jpg);
	background-size: cover;
}

html {
	--blue: #159ce4;
	--lgt-blue: #67cff3;
	--drk-blue: #147ec1;
	--black: #32383c;
  }

header {
	margin: 0px;
	padding: 5px;
	display: block;
	background-color: #fff;
	text-align: right;
	color: #000;
}

i {
	font-size: 500px;
	color: red;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  color: #fff;
  /*background-color: #eee;*/
  text-shadow: 2px 2px #509ec4;
  text-align: center;
 /* z-index: 0;*/
}

img {
	max-height: 300px;
}

h1 {
	text-align: center;
	color: #eed147;
}

a {
	text-align: right;
	color: #d0302b;
	text-shadow: -1px 1px #99b1c9;
	text-decoration: none;
}

ul {
	margin-top: -10px;
	text-align: center;
}

#data {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}

form {
	background-color:rgba(212, 175, 55, 0.65);
	color: #463500;
	padding: 10px;
	text-align: left;
	padding-left: 15%;
}

input[type=button] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	transition: 0.2s all ease-in-out;
	box-shadow: -3px 3px #eed147;
}

input[type=submit] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	transition: 0.2s all ease-in-out;
	box-shadow: -3px 3px #eed147;
}

input[type=text] {
	font-size: 16px;
	background-color: #eee;
	border-style: none;
	color: #345d98;
	font-family: "Cooper Black", Courier, monospace;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	/*height: 40px;
	width: 100px;*/
	background-color: #fff;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.container {
	margin: 0px;
    width: 100%;
}

.item_left {
    width: 50%;
    float: left;
    max-width: 500px;


}

.item_right {
    width: 50%;
    float: left;
    max-width: 500px;


}

#like {
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer; 
	font-size: 60px;
	color: #eed147;

	background-color: #000;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#dislike {
	font-family: Material Icons;
	vertical-align: middle; 
	cursor: pointer;
	background-color: none;
	font-size: 60px;
	color: #509ec4;

	background-color: #000;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#false {
	vertical-align: middle; 
	cursor: pointer; 
	font-size: 30px;
	color: #000;

	background-color: #fff;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#false:hover {
 
	color: #fff;
	background-color: #000;

}

#true {
	vertical-align: middle; 
	cursor: pointer;
	background-color: none;
	font-size: 30px;
	color: #000;

	background-color: #fff;
	box-shadow: none;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#true:hover {
 
	color: #fff;
	background-color: #000;

}

#form2 {
	justify-content: center;
}

#back {
	background-color: #509ec4;
	color: #eee;
}

#likedBeersArr {
	margin: 0px;
	padding: 5px;
	background-color: #509ec4;
}


#messy{
	font-family: 'Fredericka the Great', cursive;
	height: 80vh;
	padding-top: 24px;
	line-height: 30px;
	  position: relative;
	  background-color: rgba(240, 243, 256, 0.6);
 	/*border: 3px solid green;*/
}

#FF1{
	height: 400px;
  	position: relative;
 	/*border: 3px solid green;*/
}

#messy-v {
	width:80%;
	margin: 0 auto;
	position: absolute;
	top: 43%;
	left: 55%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#messy-v:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
	width: 45%;
	height: 300px;
}

.col-2 {
	background-image: url(cheers2.jpg);
	background-size: cover;
}

#intro {
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 22.5px;
	text-align: center;
	color: #B69517;
}

#enter-pls {
	font-size: 20px;
}

#liked-form {
	display: block;
	text-align: center;
}

#liked-form form {
	margin: 0 auto;
}

#liked {
	margin: 0 auto;
	margin-left: 33%;
	border-radius: 500px;
	padding: 6px 10px;
}

#btn0:focus, #btn1:focus {
	outline: none;
}

.testbtn {
	font-family: 'Courier New', Courier, monospace;
	padding: 6px 8px;
	margin-bottom: 10px;
	border-radius: 500px;
	transition: all 0.3s ease-in-out;
	font-size: 18px;
}

.testbtn:hover {
	cursor: pointer;
	background-color: #FFE66E
}

.answer-btn {
	padding-left: 5px;
	padding-right: 5px;
}
.answer-btn:hover {
	cursor: pointer;
}

#score, #currQuestion {
	border-radius: 500px;
}

.answer-btn h2, #beer-qn {
	font-family: 'Fredericka the Great', cursive;
}
.answer-btn p {
	font-family: 'Fredericka the Great', cursive;
	font-size: 17px;
	font-weight: 400;
	width: 75%;
	margin: 0 auto;
	margin-top: 10px;
}

#FF2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#login {
	width: 100%;
	padding-top: 20%;
	padding-bottom: 20px;
	margin: 0 auto;
	align-items: center;
	height: 58.5%;
}

#user {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px 10px;
	transition: all 0.2s ease-in-out;
}

#user:focus {
	outline: none;
	transform: scale(1.02);
	background-color: #FFFFDE;

}

#sign_in {
	width: 100px;
	height: 35px;
	border-radius: 500px;
	transition: all 0.2s ease-in-out;
}

#sign_in:hover {
	transform: scale(1.02);
	background-color: #FFE66E;
}

#final_form {
	width: 280px;
}

#currQuestion {
	margin: 5px;
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

#score {
	margin: 5px;
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

li {
	padding: 9px;
	margin: 20px;
	display: inline-block;
	background-color: #fff;
	/*box-shadow: -10px 10px #eed147;*/
	color: #509ec4;
	border-style: solid;
	border-width: 2px;
	border-color: #000;

	width: 80%;
}

/*
	cyan:   #509ec4
	yellow: #eed147
	black:  #000
	white:  #fff
*/


